.Contact {
  padding-top: 35px;
  background-color: rgba(0, 0, 0, 0.662);
  padding-bottom: 45px;
  margin-top: 75px;
}

.contain {
  width: 95%;
  margin: 0 auto; /* Center the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.Contact .card-title {
  color: black !important;
}

.Contact .card-text {
  color: black !important;
}

.Contact .card-image {
  width: 100%;
  height: 250px; /* Adjust this value as needed */
  object-fit: cover;
}

.Contact .card-group {
  width: 100%; /* Ensure the card group takes full width of the container */
}

.Contact .card {
  margin: 30px; /* Add some spacing between the cards */
  border-radius: 0;
}

.card-title {
  margin-top: 5px;
}

.card-content {
  margin-top: 15px;
  margin-bottom: 15px;
}
