/* Slide.css */

.hero-block {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  
  .custom-carousel {
    width: 100%;
    max-width: 100%;
    height: 600px; /* Set the fixed height for the carousel */
  }
  
  .carousel-item {
    position:relative;
    height: 100%;
  }
  
  .carousel-image {
    height: 600px; /* Set the fixed height for the images */
    object-fit: cover; /* This will prevent warping and allow parts to be cut off */
  }
  
  .custom-caption {
    position: absolute;
    top: 30%;
    margin-bottom: 140px;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background to the caption */
  }
  
  .custom-caption h2, .custom-caption p {
    color: white; /* Ensure text color is white */
  }
  
  .custom-btn {
    background-color: orange !important;
    border-color: white !important;
    color: white !important;
    text-decoration: none;
  }
  
  .custom-btn:hover {
    background-color: darkorange !important;
    border-color: darkorange !important;
  }
  